
<%= @results %>


	<% @results.each do |row| %>
		<table class="table">
	
				<tr>
					<td><%= row['id'] %></td>
					<td><%= row['username'] %></td>
					<td><%= row['phone'] %></td>
					<td><%= row['datastamp'] %></td>
					<td><%= row['barber'] %></td>
					<td><%= row['color'] %></td>
				</tr>
		<% end %>

		</table>
		

